os:
  open: "zed {{filename}}"
  edit: "zed {{filename}}"
  editAtLine: "zed {{filename}}:{{line}}"
  editAtLineAndWait: "zed {{filename}}:{{line}} --wait"
  openDirInEditor: "zed {{filename}}"
gui:
  switchTabsWithPanelJumpKeys: true
  theme:
    selectedLineBgColor:
      - reverse
git:
  log:
    showGraph: always
    showWholeGraph: true
  paging:
    colorArg: always
    pager: delta --dark --paging=never --syntax-theme base16-256 -s
customCommands:
  - key: "G"
    command: "gh pr view -w {{.SelectedLocalBranch.Name}} || gh repo view -w"
    context: "localBranches"
    description: "Open Github PR in browser"
  - key: "G"
    command: "gh pr view -w || gh repo view -w"
    context: "commits,files"
    description: "Open Github PR in browser"
  - key: "H"
    command: "gh repo view -w"
    context: localBranches,commits,files
    description: "Open Github Repo in Browser"
  - key: "Y"
    description: "Custom copy: old content"
    commandMenu:
      - key: "o"
        command: "git show HEAD:{{.SelectedFile.Name}} | pbcopy"
        context: "files"
        description: "Old file content (HEAD) (left diff)"
      - key: "o"
        command: "git show {{.SelectedCommit.Sha}}^:{{.SelectedCommitFile.Name}} | pbcopy"
        context: "commitFiles"
        description: "Copy old file content (left diff)"
      - key: "c"
        command: "git show {{.SelectedCommit.Sha}}:{{.SelectedCommitFile.Name}} | pbcopy"
        context: "commitFiles"
        description: "Copy file content from this commit (right diff)"
      - key: "p"
        command: "gh pr view {{.SelectedLocalBranch.Name}} --json permalink -q .permalink | pbcopy"
        context: "localBranches"
        description: "Copy PR link"
      - key: "G"
        command: "gh repo view --json url -q .url | pbcopy"
        description: "Copy repo link"
      - key: "r"
        command: 'REPO_URL=$(gh repo view --json url -q .url) && echo "${REPO_URL}/compare/{{.SelectedLocalBranch.Name}}?expand=1" | pbcopy'
        context: "localBranches"
        description: "Copy PR creation URL for selected branch"
  - key: "O"
    description: "Custom open: git show to temp and zed"
    commandMenu:
      - key: "o"
        command: 'open_dest="/tmp/lazy/{{.SelectedCommit.Sha}}_{{.SelectedFile.Name}}" && mkdir -p "$(dirname "$open_dest")" && git show HEAD:{{.SelectedFile.Name}} > "$open_dest" && zed --wait "$open_dest"'
        context: "files"
        description: "Open old file content in zed (HEAD) (left diff)"
      - key: "o"
        command: 'open_dest="/tmp/lazy/{{.SelectedCommit.Sha}}_{{.SelectedCommitFile.Name}}" && mkdir -p "$(dirname "$open_dest")" && git show {{.SelectedCommit.Sha}}^:{{.SelectedCommitFile.Name}} > "$open_dest" && zed --wait "$open_dest"'
        context: "commitFiles"
        description: "Open old file content in zed (left diff)"
      - key: "c"
        command: 'open_dest="/tmp/lazy/{{.SelectedCommit.Sha}}_{{.SelectedCommitFile.Name}}" && mkdir -p "$(dirname "$open_dest")" && git show {{.SelectedCommit.Sha}}:{{.SelectedCommitFile.Name}} > "$open_dest" && zed --wait "$open_dest"'
        context: "commitFiles"
        description: "Open file content from this commit in zed (right diff)"
      - key: "h"
        command: 'open_dest="/tmp/lazy/{{.SelectedCommit.Sha}}_{{.SelectedCommitFile.Name}}" && mkdir -p "$(dirname "$open_dest")" && git show {{.SelectedCommit.Sha}}:{{.SelectedCommitFile.Name}} > "$open_dest" && zed --diff "$open_dest" "{{.SelectedCommitFile.Name}}"'
        context: "commitFiles"
        description: "Compare file content with HEAD in zed (Note: only works if same name)"
      # With sample with and suggestions
      # - key: "<c-p>"
      #   description: "Pull from a specific remote repository"
      #   context: "files"
      #   loadingText: "Pulling ..."
      #   command: git pull {{ .Form.Remote }} {{ .Form.RemoteBranch }}
      #   prompts:
      #     - type: "input"
      #       key: "Remote"
      #       title: "Remote:"
      #       suggestions:
      #         preset: "remotes"
      #     - type: "input"
      #       key: "RemoteBranch"
      #       title: "Remote branch:"
      #       suggestions:
      #         command: "git branch --remote --list '{{.Form.Remote}}/*' --format='%(refname:short)' | sed 's/{{.Form.Remote}}\\///'"
