os:
  open: "zed {{filename}}"
  edit: "zed {{filename}}"
  editAtLine: "zed {{filename}}:{{line}}"
  editAtLineAndWait: "zed {{filename}}:{{line}} --wait"
  openDirInEditor: "zed {{filename}}"

gui:
  switchTabsWithPanelJumpKeys: true
  theme:
    selectedLineBgColor:
      - reverse

git:
  log:
    showGraph: always
    showWholeGraph: true
  paging:
    colorArg: always
    pager: delta --dark --paging=never --syntax-theme base16-256 -s
